h1 {
    color:rgba(112, 5, 5, 0.723);
}

h2 { color:aqua}


body {

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    background-color: rgba(254, 2, 2, 0.953);

    font-size: 12px;

}
button {

    

    background-color: rgb(203, 99, 99);

    color: rgb(8, 5, 5);

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}